@use "sass:color";
@use "mixins" as m;

body {
  background-color: #242424;
}

.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.sitetitle {
  @include m.moviesTitle;
}

.findbtn {
  padding: 10px;
  border: none;
  width: fit-content;
  border-radius: 10px;
  font-size: 24px;
  background-color: orange;
  cursor: pointer;
}
#movie-grid{
  margin: 1rem 5rem;
  gap: 50px;
}
.moviegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.moviegrid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.movie-img {
  border: 5px solid;
  border-image: linear-gradient(to right, orange, rgb(73, 58, 211)) 1;
  ///////////////////////////////////////////////////////
  // border: 3px solid transparent;      //Para usar esta capa, comentar las dos de arriba y viceversa
  /////////////////////////////////////////////////////
  border-radius: 15px;
  padding: 5px;
  transition: border-color 0.4s, box-shadow 0.4s, transform 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
    border-color: orange;
    box-shadow: 0 0 10px 4px orange;
  }
}



.movie-card {
  padding: 2rem;
  text-align: center;
  color: #f3cb5d;
  font-size: 24px;
  background-color: color.adjust(#242424, $lightness: 2%);
  border: color.adjust(#242424, $lightness: -20%), 4px, solid;
  border-radius: 10px;
}

.movie-img {
  border-radius: 10px;
}

.detaildiv {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.detail-card {
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr 1.5fr;
  align-items: center;
  gap: 20px;
  background-color: color.adjust(#242424, $lightness: -4%);
  border: color.adjust(#f3cb5d, $lightness: -45%) 4px solid;
  border-radius: 10px;
  padding: 15px;
}

.movie-title {
  @include m.moviesTitle;
  font-size: 3.5rem;
}
.detail-div {
  gap: 20px;
}

.rating-div {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.movie-rating-green {
  color: green;
}

.movie-rating-yellow {
  color: yellow;
}

.movie-rating-red {
  color: red;
}
.detail-description {
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: color.adjust(#f3cb5d, $lightness: -15%);
}
.cast-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
 
  border-top: #f3cb5d solid 4px;
  border-radius: 10px;
}

.cast-div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.cast-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.cast-name {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: color.adjust(#f3cb5d, $lightness: 20%);
}

.select-list {
  padding: 5px;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
  font-size: 24px;
  color: #242424;
}

.find-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  background: color.adjust(#242424, $lightness: -5%);
  border-radius: 10px;
  border: color.adjust(rgb(73, 58, 211), $lightness: -40%) 3px solid;
  padding: 15px 30px;
} 

.find-input {
  background-color: orange;
  border-radius: 10px;  
  font-size: 1rem;
  font-weight: bold;

  &::placeholder {
    color: #242424;
  }
  
}
